node_modules
.next
out
build
dist
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
*.log
*.lock
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.tgz
*.7z
*.log
*.pid
skills.md
README.md
LICENSE
